header {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1em;
    background-color: var(--bg2);
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    flex-basis: 50%;
    font-size: 1.5rem;
}

.search-container {
    flex-basis: 50%;
    display: flex;
}

.search-input {
    flex-basis: 80%;
    padding: 0.6rem;
    font-size: 1rem;
}

.search-btn {
    flex-basis: 20%;
    padding: 0.6rem;
    font-size: 1rem;
}
