header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    background-color: var(--bg2);
    margin-block-end: 1rem;
}

.logo {
    font-size: 1.5rem;
}

.search-input {
    padding: 0.3rem;
}

.search-btn {
    padding: 0.3rem;
}