.video-card {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    padding: 0.5rem;
    background-color: #665;
    border-radius: 5px;
    margin-block-end: .5rem;

    color: var(--bg2);
    cursor: pointer;
    font-size: .8em;
    transition: background-color .5s;
}

.video-card:hover {
    background-color: #222;
}

.video-title {
    margin: 0;

    color:beige;
    font-weight: normal;
}

@media (width >= 750px) {
    
    .videos-container {
        flex-basis: 40%;
    }
    
}