.container {
    max-width: 1080px;
    padding: 10px;
    margin: 0 auto;
}

.video-and-wiki {
    display: flex;
    flex-direction: column;
}

@media (width >= 750px) {
 
    .main-container {
        display: flex;
        gap: .5rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .video-and-wiki {
        flex-basis: 60%;
    }    
    
    header .logo {
        font-size: 3rem;
    }
}